<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686230739220-g2driom2v9di2kcd0mhuvssvgk3g3ioj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686230739220-g2driom2v9di2kcd0mhuvssvgk3g3ioj</string>
	<key>API_KEY</key>
	<string>AIzaSyAzunLzmO1Tdf58XcCYmm2Q72EbyEToTJY</string>
	<key>GCM_SENDER_ID</key>
	<string>686230739220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.fireTestApp</string>
	<key>PROJECT_ID</key>
	<string>firephotos-40d70</string>
	<key>STORAGE_BUCKET</key>
	<string>firephotos-40d70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686230739220:ios:f2d859c6a4dfc944400a01</string>
</dict>
</plist>